<div style="margin: 0 30px">
  <div class="row">
    <div class="col-xl-5 col-md-6 col-xs-8">
      <app-widgets></app-widgets>
    </div>
    <div class="col-md-3">
      <div class="chartCardSmall">
        <p class="chartTitle2">Your Created Config</p>
        <p class="chartItem">{{configCountByUser}}</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="chartCardSmall">
        <p class="chartTitle2">Last Created Config</p>
        <div class="items">
          <p class="chartItemNumero">{{lastConfigNumero}}</p>
          <p class="chartItemDesc">{{lastConfigDescription}}</p>
          <p class="chartItemClient">{{lastConfigClient}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5 col-md-6 col-xs-8">
      <div class="chartCard">
        <p class="chartTitle">Number of numeros per client</p>
        <app-charts style="display: inline-block"></app-charts>
      </div>
    </div>
    <div class="col-xl-5 col-md-6 col-xs-8">
      <div class="chartCard">
        <p class="chartTitle">Number of users per department</p>
        <app-userperdep style="display: inline-block"></app-userperdep>
      </div>
    </div>
  </div>
</div>
